In [1]:
import streamlit as st
import pandas as pd
import pydeck as pdk
import csv
import json

In [2]:
with open('../wildfire_prediction/Australian_cities.json') as f:
    data = json.load(f)

In [10]:
Cities = pd.read_csv("../wildfire_prediction/Australian_cities.csv")
df = pd.DataFrame(data=Cities, columns=['city', 'lat', 'lng', 'admin_name'])
df

           city      lat       lng         admin_name
0        Sydney -33.8650  151.2094    New South Wales
1     Melbourne -37.8136  144.9631           Victoria
2      Brisbane -27.4678  153.0281         Queensland
3         Perth -31.9522  115.8589  Western Australia
4      Adelaide -34.9289  138.6011    South Australia
...         ...      ...       ...                ...
1030  The Palms -26.1902  152.5861         Queensland
1031  Millfield -32.8886  151.2614    New South Wales
1032   Dunbogan -31.6500  152.8167    New South Wales
1033    Tomakin -35.8228  150.1894    New South Wales
1034     Currie -39.9311  143.8510           Tasmania

[1035 rows x 4 columns]

In [27]:
#title = st.text_input('Forecast', 'Type in an Australian city name')
title = 'Melbourne'


if title == 'Type in an Australian city name':
    print('Waiting for Forecast')
elif  title in list(df['city']):
    print(f"The forecast for {title} is")
else:
    print('This is not a city in Australia')

The forecast for Melbourne is